Código Fuente/Node-Red HMI/Node-Red HMI.json
[{"id":"e5a17198.5d1de","type":"tab","label":"Producto Unidad: Node-Red","disabled":false,"info":""},{"id":"331ee530.957ae2","type":"ui_gauge","z":"e5a17198.5d1de","name":"","group":"553bf9a3.980388","order":5,"width":0,"height":0,"gtype":"gage","title":"Temperature 1","label":"Grados °C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"35","seg2":"85","x":320,"y":340,"wires":[]},{"id":"31b2b957.efbd76","type":"ui_slider","z":"e5a17198.5d1de","name":"","label":"SLIDE ME","tooltip":"","group":"553bf9a3.980388","order":9,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":130,"y":340,"wires":[[]]},{"id":"a2e88eef.0e2aa8","type":"ui_gauge","z":"e5a17198.5d1de","name":"","group":"a5b9dbf4.ecd9b","order":4,"width":0,"height":0,"gtype":"donut","title":"Temperature 2","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"35","seg2":"85","x":520,"y":240,"wires":[]},{"id":"c9e9265e.c0615","type":"ui_slider","z":"e5a17198.5d1de","name":"","label":"slider 1","tooltip":"","group":"a5b9dbf4.ecd9b","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"Slide 1","min":0,"max":"100","step":1,"x":500,"y":100,"wires":[[]]},{"id":"ba5d9cc0.6b4da","type":"ui_slider","z":"e5a17198.5d1de","name":"","label":"slider 2","tooltip":"","group":"a5b9dbf4.ecd9b","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"Slider 2","min":0,"max":"100","step":1,"x":500,"y":140,"wires":[[]]},{"id":"1a5b9f6d.27e1a1","type":"ui_slider","z":"e5a17198.5d1de","name":"","label":"slider 3","tooltip":"","group":"a5b9dbf4.ecd9b","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"Slider 3","min":0,"max":"100","step":1,"x":500,"y":180,"wires":[[]]},{"id":"fffd0541.f74a98","type":"ui_button","z":"e5a17198.5d1de","name":"twit","group":"553bf9a3.980388","order":3,"width":"1","height":"1","passthru":false,"label":"","tooltip":"","color":"#0CD6F1","bgcolor":"","icon":"twitter","payload":"","payloadType":"str","topic":"","x":110,"y":180,"wires":[[]]},{"id":"2a62803b.4dd14","type":"ui_button","z":"e5a17198.5d1de","name":"car","group":"553bf9a3.980388","order":4,"width":"1","height":"1","passthru":false,"label":"","tooltip":"","color":"green","bgcolor":"","icon":"fa-car ","payload":"","payloadType":"str","topic":"","x":110,"y":220,"wires":[[]]},{"id":"aa7da8f.223d858","type":"ui_button","z":"e5a17198.5d1de","name":"hello","group":"553bf9a3.980388","order":2,"width":"2","height":"1","passthru":false,"label":"HELLO","tooltip":"","color":"black","bgcolor":"","icon":"fa-female","payload":"","payloadType":"str","topic":"","x":110,"y":140,"wires":[[]]},{"id":"7cb99f39.7d6388","type":"ui_button","z":"e5a17198.5d1de","name":"red","group":"553bf9a3.980388","order":1,"width":"2","height":"1","passthru":false,"label":"","tooltip":"","color":"red","bgcolor":"","icon":"fa-male ","payload":"","payloadType":"str","topic":"","x":110,"y":100,"wires":[[]]},{"id":"26b85961.337876","type":"ui_numeric","z":"e5a17198.5d1de","name":"","label":"numeric","tooltip":"","group":"553bf9a3.980388","order":7,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":1,"x":120,"y":300,"wires":[[]]},{"id":"3dc9f77a.40a7f8","type":"ui_dropdown","z":"e5a17198.5d1de","name":"escoger op","label":"","tooltip":"","place":"Select an option","group":"553bf9a3.980388","order":8,"width":0,"height":0,"passthru":true,"multiple":false,"options":[],"payload":"","topic":"","x":130,"y":380,"wires":[[]]},{"id":"e57820c8.23b5f","type":"ui_switch","z":"e5a17198.5d1de","name":"","label":"FIRE","tooltip":"","group":"553bf9a3.980388","order":11,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":110,"y":420,"wires":[[]]},{"id":"6584692e.1fc068","type":"ui_text","z":"e5a17198.5d1de","group":"553bf9a3.980388","order":10,"width":0,"height":0,"name":"valor Temp.","label":"Slide","format":"{{msg.payload}}","layout":"row-spread","x":310,"y":380,"wires":[]},{"id":"dc517dee.95d5a","type":"ui_text","z":"e5a17198.5d1de","group":"553bf9a3.980388","order":6,"width":0,"height":0,"name":"","label":"Stuff","format":"{{msg.payload}}","layout":"row-spread","x":110,"y":260,"wires":[]},{"id":"2ad4f05f.2929b8","type":"ui_dropdown","z":"e5a17198.5d1de","name":"","label":"Numeric dropdown","tooltip":"","place":"Select option","group":"a5b9dbf4.ecd9b","order":11,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":530,"y":300,"wires":[[]]},{"id":"4486bc32.fd3ffc","type":"ui_colour_picker","z":"e5a17198.5d1de","name":"color","label":"Pick Me!","group":"a5b9dbf4.ecd9b","format":"hex8","outformat":"object","showSwatch":true,"showPicker":true,"showValue":true,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":11,"width":0,"height":0,"passthru":true,"topic":"","x":490,"y":340,"wires":[[]]},{"id":"6b4cd27d.ebbd8c","type":"ui_chart","z":"e5a17198.5d1de","name":"","group":"ceb84e96.a73b6","order":11,"width":0,"height":0,"label":"Chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":870,"y":80,"wires":[[]]},{"id":"41e365d6.bb7a34","type":"ui_chart","z":"e5a17198.5d1de","name":"pastel","group":"ceb84e96.a73b6","order":12,"width":0,"height":0,"label":"Pie Chart","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":870,"y":120,"wires":[[]]},{"id":"1606efb4.32d0a8","type":"ui_chart","z":"e5a17198.5d1de","name":"Barras","group":"ceb84e96.a73b6","order":13,"width":0,"height":0,"label":"Bar Chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":870,"y":160,"wires":[[]]},{"id":"c2bfc1da.08f97","type":"ui_chart","z":"e5a17198.5d1de","name":"Barras H.","group":"ceb84e96.a73b6","order":14,"width":0,"height":0,"label":"Horizontal Bar Chart","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":880,"y":200,"wires":[[]]},{"id":"553bf9a3.980388","type":"ui_group","z":"","name":"FIRST","tab":"1bf25890.90165f","order":1,"disp":true,"width":"6","collapse":true},{"id":"a5b9dbf4.ecd9b","type":"ui_group","z":"","name":"SECOND","tab":"1bf25890.90165f","order":2,"disp":true,"width":"6","collapse":true},{"id":"ceb84e96.a73b6","type":"ui_group","z":"","name":"THIRD","tab":"1bf25890.90165f","order":3,"disp":true,"width":"6","collapse":true},{"id":"1bf25890.90165f","type":"ui_tab","z":"","name":"HOME","icon":"fa-bars","disabled":false,"hidden":false}]