Aporte/Aporte HMI.json
[{"id":"c80fb367.123d2","type":"tab","label":"Aporte P.U. - HMI","disabled":false,"info":""},{"id":"553bf9a3.980388","type":"ui_group","z":"","name":"CONTROLES","tab":"1bf25890.90165f","order":1,"disp":true,"width":"6","collapse":true},{"id":"1bf25890.90165f","type":"ui_tab","z":"","name":"HOME","icon":"fa-bars","disabled":false,"hidden":false},{"id":"f9bffc28.7f5358","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#0094bf","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#0094bf","edited":true},"page-titlebar-backgroundColor":{"value":"#0094bf","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#0cc8ff","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#0094bf","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Aporte P.U.","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":10,"gy":10,"cx":3,"cy":6,"px":1,"py":0}}},{"id":"a5b9dbf4.ecd9b","type":"ui_group","z":"","name":"DATOS","tab":"1bf25890.90165f","order":2,"disp":true,"width":"6","collapse":true},{"id":"ceb84e96.a73b6","type":"ui_group","z":"","name":"DIAGRANAS","tab":"1bf25890.90165f","order":3,"disp":true,"width":"6","collapse":true},{"id":"d039e696.f57e3","type":"ui_gauge","z":"c80fb367.123d2","name":"","group":"553bf9a3.980388","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperatura 1","label":"Grados 째C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"35","seg2":"85","x":340,"y":100,"wires":[]},{"id":"b3548b51.fc4028","type":"ui_slider","z":"c80fb367.123d2","name":"","label":"Temp. 1","tooltip":"","group":"553bf9a3.980388","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":120,"y":100,"wires":[["d039e696.f57e3","1241ed7d.7afa23"]]},{"id":"30afbde2.48150a","type":"ui_gauge","z":"c80fb367.123d2","name":"","group":"553bf9a3.980388","order":5,"width":0,"height":0,"gtype":"donut","title":"Temperatura 2","label":"째C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"35","seg2":"85","x":340,"y":200,"wires":[]},{"id":"d5f11bfa.f4ac9","type":"ui_slider","z":"c80fb367.123d2","name":"","label":"slider 1","tooltip":"","group":"a5b9dbf4.ecd9b","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"Slide 1","min":0,"max":"100","step":1,"x":120,"y":500,"wires":[["3f8d9599.c2ebd2","c14ed583.ad8da","13da9350.43c9b5","33f40551.9bd65a"]]},{"id":"977df1db.82102","type":"ui_slider","z":"c80fb367.123d2","name":"","label":"slider 2","tooltip":"","group":"a5b9dbf4.ecd9b","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"Slider 2","min":0,"max":"100","step":1,"x":120,"y":540,"wires":[["3f8d9599.c2ebd2","c14ed583.ad8da","13da9350.43c9b5","33f40551.9bd65a"]]},{"id":"c04c622c.c1dad8","type":"ui_slider","z":"c80fb367.123d2","name":"","label":"slider 3","tooltip":"","group":"a5b9dbf4.ecd9b","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"Slider 3","min":0,"max":"100","step":1,"x":120,"y":580,"wires":[["3f8d9599.c2ebd2","c14ed583.ad8da","13da9350.43c9b5","33f40551.9bd65a"]]},{"id":"1241ed7d.7afa23","type":"ui_text","z":"c80fb367.123d2","group":"553bf9a3.980388","order":4,"width":0,"height":0,"name":"valor Temp.","label":"Temeratura en Grados 째C = ","format":"{{msg.payload}}","layout":"row-spread","x":330,"y":140,"wires":[]},{"id":"3f8d9599.c2ebd2","type":"ui_chart","z":"c80fb367.123d2","name":"","group":"ceb84e96.a73b6","order":11,"width":0,"height":0,"label":"Chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":490,"y":480,"wires":[[]]},{"id":"c14ed583.ad8da","type":"ui_chart","z":"c80fb367.123d2","name":"pastel","group":"ceb84e96.a73b6","order":12,"width":0,"height":0,"label":"Pie Chart","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":490,"y":520,"wires":[[]]},{"id":"13da9350.43c9b5","type":"ui_chart","z":"c80fb367.123d2","name":"Barras","group":"ceb84e96.a73b6","order":13,"width":0,"height":0,"label":"Bar Chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":490,"y":560,"wires":[[]]},{"id":"33f40551.9bd65a","type":"ui_chart","z":"c80fb367.123d2","name":"Barras H.","group":"ceb84e96.a73b6","order":14,"width":0,"height":0,"label":"Horizontal Bar Chart","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":500,"y":600,"wires":[[]]},{"id":"76bad5af.34c99c","type":"ui_text","z":"c80fb367.123d2","group":"553bf9a3.980388","order":1,"width":0,"height":0,"name":"","label":"TEMPERATURA Y NIVEL","format":"{{msg.payload}}","layout":"row-center","x":170,"y":60,"wires":[]},{"id":"56726188.6378b","type":"ui_gauge","z":"c80fb367.123d2","name":"","group":"553bf9a3.980388","order":8,"width":0,"height":0,"gtype":"wave","title":"Nivel de Agua","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":340,"y":300,"wires":[]},{"id":"34f22323.91ea84","type":"ui_slider","z":"c80fb367.123d2","name":"","label":"Temp. 2","tooltip":"","group":"553bf9a3.980388","order":6,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":120,"y":200,"wires":[["30afbde2.48150a","a7a06a0b.2519a8"]]},{"id":"a7a06a0b.2519a8","type":"ui_text","z":"c80fb367.123d2","group":"553bf9a3.980388","order":7,"width":0,"height":0,"name":"temp 2","label":"Tempueratura 2 en Grados 째C = ","format":"{{msg.payload}}","layout":"row-center","x":310,"y":240,"wires":[]},{"id":"ba5a94c1.10cec","type":"ui_slider","z":"c80fb367.123d2","name":"","label":"Nivel","tooltip":"","group":"553bf9a3.980388","order":9,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":110,"y":300,"wires":[["56726188.6378b","289f8e96.c0db4a"]]},{"id":"289f8e96.c0db4a","type":"ui_text","z":"c80fb367.123d2","group":"553bf9a3.980388","order":10,"width":0,"height":0,"name":"","label":"Nivel de Agua a = ","format":"{{msg.payload}}","layout":"row-center","x":350,"y":340,"wires":[]},{"id":"9ba02f4d.51edb","type":"ui_text","z":"c80fb367.123d2","group":"ceb84e96.a73b6","order":4,"width":0,"height":0,"name":"","label":"GRAFICOS","format":"{{msg.payload}}","layout":"row-center","x":130,"y":460,"wires":[]}]